
/* WHATSAPP BUTTON */

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.whatsapp-btn:hover{
transform:scale(1.1);
}